<div id="welcome">
  <div id="welcome-content">
    <h1><span class="title">V</span><span class="title">G</span><span class="title">D</span><span class="title">B</span></h1>
    <h2>The ultimate resource for video game content</h2>
    <div class="ui center aligned container">
      <form class="ui search form" ng-submit="redirectToContent()">
        <div class="ui big inverted icon input">
          <input id="main-search" type="text" placeholder="Search for a game" ng-model="searchTerm">
          <i class="search icon"></i>
        </div>
        <input class="ui search red button" type="submit" value="Search">
      </form>
    </div>
  </div>
</div>

<div id="welcome-filter"></div>

<div id="mosaic">
  <div class="bgimage one"></div>
  <div class="bgimage two"></div>
  <div class="bgimage three"></div>
  <div class="bgimage four"></div>
  <div class="bgimage five"></div>
  <div class="bgimage six"></div>
  <div class="bgimage seven"></div>
  <div class="bgimage eight"></div>
  <div class="bgimage nine"></div>
  <div class="bgimage ten"></div>
  <div class="bgimage eleven"></div>
  <div class="bgimage twelve"></div>
  <div class="bgimage thirteen"></div>
  <div class="bgimage fourteen"></div>
  <div class="bgimage fifteen"></div>
  <div class="bgimage sixteen"></div>
</div>
