<!DOCTYPE html>
<html ng-app="VGDBApp">
  <head>
    <meta charset="utf-8">
    <title>Video Game Database</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/controllers/content-ctrl.js" charset="utf-8"></script>
    <script src="/js/controllers/profile-ctrl.js" charset="utf-8"></script>
    <script src="/js/vgdb-module.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </head>
  <body ng-controller="ProfileController">

    <!-- Header-Nav Profile/Login/Create Account -->
    <div id="profile-container" class="ui small center aligned inverted header">
      <div class="ui dropdown">
        <div id="profile">
          <img ng-src="{{ currentAvatar }}" alt="" ng-show="showProfileDetails"/>
          <h4 id="username" ng-show="showProfileDetails">{{ currentUser.username }}</h4>
          <h5 id="greeting" class="animate" ng-show="showWelcomeGreeting">Welcome back, {{ currentUser.firstName }}</h5>
        </div>
        <div id="dropdown-menu" class="menu">
          <div class="item">
            <a ng-click="showLoginForm()"><h4>Login</h4></a>
          </div>
          <div class="item">
            <a ng-click="showSignupForm()"><h4>Create Account</h4></a>
          </div>
          <div class="item">
            <h4>Edit Profile</h4>
          </div>
          <div class="item">
            <a href="#/" ng-click="signOut()"><h4>Sign out</h4></a>
          </div>
        </div>
      </div>
    </div>

    <div id="login" class="ui modal">
      <form id="login-user" class="ui form" ng-submit="submitLoginForm()">
        <div class="fields">
          <div class="field">
            <div class="ui large inverted input">
              <input type="text" ng-model="loginUser.username" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <div class="ui large inverted input">
              <input type="password" ng-model="loginUser.password" placeholder="Password">
            </div>
          </div>
          <div class="action">
            <div class="ui large inverted input">
              <input type="submit" name="login-form" value="Log In">
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="signup" class="ui modal">
      <form id="new-user" ng-submit="submitSignupForm()">
        <div class="ui large inverted input">
          <input class='' type="text" ng-model="newUser.username" placeholder="Username">
        </div>
        <div class="ui large inverted input">
          <input class='' type="text" ng-model="newUser.email" placeholder="Email">
        </div>
        <div class="ui large inverted input">
          <input class='' type="password" ng-model="newUser.password" placeholder="Password">
        </div>
        <div class="ui large inverted input">
          <input class='' type="text" ng-model="newUser.firstName" placeholder="First Name">
        </div>
        <div class="ui large inverted input">
          <input class='' type="text" ng-model="newUser.lastName" placeholder="Last Name">
        </div>
        <div class="ui large inverted input">
          <input class='' type="text" ng-model="newUser.avatarUrl" placeholder="Avatar URL">
        </div>
        <div class="ui large inverted input">
          <input type="submit" value="Sign Up">
        </div>
      </form>
    </div>

    <div class="ui container">
      <div ng-view>
        <!-- Dynamic View -->
      </div>
    </div>
  </body>
</html>
