<!DOCTYPE html>
<html ng-app="VGDB">
  <head>
    <meta charset="utf-8">
    <title>VGDB</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/ang.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </head>
  <body ng-controller="VGDBController">
    <div class="ui container">
      <h1>VGDB</h1>
      <h4>STUFF</h4>
    </div>
    <div class="ui center aligned container">
      <form class="ui form" ng-submit="getTwitchStream()">
        <div class="ui field">
          <input type="text" ng-model="searchTerm">
          <input class="ui button" type="submit" value="Search">
        </div>
      </form>
      <div id="giantbomb" class="ui container">

      </div>
      <h1>Live Twitch Stream</h1>
      <div>
        <iframe id="twitch-stream"
          src="http://player.twitch.tv/?channel=ducksauce"
          height="480"
          width="640"
          frameborder="0"
          scrolling="no"
          allowfullscreen="true">
        </iframe>
      </div>

      <h1>YouTube Content</h1>
      <div id="video-here">

      </div>

    </div>
  </body>
</html>
