<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VGDB</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  </head>
  <body>
    <div class="ui container">
      <h1>VGDB</h1>
      <h4>Test</h4>
    </div>
  </body>
</html>
