<!DOCTYPE html>
<html ng-app="VGDBApp">
  <head>
    <meta charset="utf-8">
    <title>Video Game Database</title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/styles.css" media="screen" title="no title" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/controllers/content-ctrl.js" charset="utf-8"></script>
    <script src="/js/controllers/profile-ctrl.js" charset="utf-8"></script>
    <script src="/js/vgdb-module.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
  </head>
  <body ng-controller="ProfileController">

    <!-- Header-Nav Profile/Login/Create Account -->
    <div id="profile-container" class="ui small center aligned inverted header">
      <div class="ui dropdown">
        <div id="profile">
          <img ng-src="{{ currentAvatar }}" alt="" ng-show="showProfileDetails"/>
          <h3 id="username" ng-show="showProfileDetails">{{ currentUser.username }}</h3>
          <h5 id="greeting" class="animate" ng-show="showWelcomeGreeting">Welcome back, {{ currentUser.firstName }}</h5>
        </div>
        <div id="dropdown-menu" class="menu">
          <div class="item">
            <a ng-click="showLoginForm()"><h4>Sign in</h4></a>
          </div>
          <div class="item">
            <a ng-click="showSignupForm()"><h4>Create Account</h4></a>
          </div>
          <div class="item">
            <a ng-click="showProfileEditForm()"><h4>Edit Profile</h4></a>
          </div>
          <div class="item">
            <a ng-click="signOut()"><h4>Sign out</h4></a>
          </div>
        </div>
      </div>
    </div>

    <div id="login" class="ui profile modal">
      <form id="login-user" class="ui profile form" ng-submit="submitLoginForm()">
        <h2>Sign in</h2>
        <div class="field">
          <label>Username</label>
          <input type="text" ng-model="loginUser.username">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" ng-model="loginUser.password">
        </div>
        <div class="field">
          <input class="ui red button" type="submit" name="login-form" value="Sign in">
        </div>
      </form>
    </div>

    <div id="signup" class="ui profile modal">
      <form id="new-user" class="ui profile form" ng-submit="submitSignupForm()">
        <h2>Create Account</h2>
        <div class="two fields">
          <div class="field">
            <label>Username</label>
            <input class='' type="text" ng-model="newUser.username" placeholder="i.e. Yung Squirgey">
          </div>
          <div class="field">
            <label>Email</label>
            <input class='' type="text" ng-model="newUser.email" placeholder="yungsquirgey@aol.com">
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <input class='' type="password" ng-model="newUser.password" placeholder="Password">
        </div>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input class='' type="text" ng-model="newUser.firstName" placeholder="i.e. Sergey">
            </div>
            <div class="field">
              <input class='' type="text" ng-model="newUser.lastName" placeholder="Kablinski">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Avatar</label>
          <input class='' type="text" ng-model="newUser.avatarUrl" placeholder="Image URL i.e. http://i.imgur.com/EfGLKcD.jpg?1">
        </div>
        <div class="field">
          <input class="ui red button" type="submit" value="Sign Up">
        </div>
      </form>
    </div>

    <div id="edit-profile" class="ui profile modal">
      <form id="edit-user" class="ui profile form" ng-submit="submitProfileEditForm()">
        <h2>Edit Profile</h2>
        <div class="two fields">
          <div class="field">
            <label>Username</label>
            <input type="text" ng-model="editedUser.username">
          </div>
          <div class="field">
            <label>Email</label>
            <input type="text" ng-model="editedUser.email">
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" ng-model="editedUser.password">
        </div>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" ng-model="editedUser.firstName">
            </div>
            <div class="field">
              <input type="text" ng-model="editedUser.lastName">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Avatar</label>
          <input class='' type="text" ng-model="editedUser.avatarUrl">
        </div>
        <div class="field">
          <input class="ui red button" type="submit" value="Edit Profile">
        </div>
      </form>
    </div>

    <div class="ui container">
      <div ng-view>
        <!-- Dynamic View -->
      </div>
    </div>
  </body>
</html>
