@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  color: white;
}

.animate {
  transition: all linear 0.5s
}

.animate.ng-hide {
  opacity: 0;
}

#profile-container {
  position: absolute;
  top: 0;
  right: 7%;
  width: 15%;
  z-index: 21;
  padding-top: 20px;
}

#profile-container img {
  height: 75px;
  border-radius: 2rem;
}

#profile-container h3, #profile-container h5 {
  margin: 0;
}

#profile-container a {
  color: black;
}

#profile {
  width: 150px;
  text-align: center;
}

#dropdown-menu {
  color: white;
  z-index: 100;
}

#welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  font-family: 'Helvetica';
  text-align: center;
  color: white;
}

#welcome-content {
  position: relative;
  top: 25%;
}

#welcome h1 {
  font-size: 6rem;
  font-family: 'Lato';
  font-weight: 900;
}

span.title {
  margin: 0 2rem;
  animation: spread 2s ease 1;
}

@keyframes spread {
  0% {
    margin: 0 10rem;
  }
  80% {
    margin: 0 0.5rem;
  }
  100% {
    margin: 0 2rem;
  }
}

#welcome h2 {
  font-family: 'Indie Flower';
}

#title-bar {
  padding-top: 30px;
  padding-left: 50px;
  height: 75px;
}

#title-bar a {
  font-family: 'Lato';
  font-size: 3rem;
  padding: 0 10px;
  color: white;
  background-color: black;
}

#title-bar span {
  font-family: 'Indie Flower';
  padding-left: 20px;
  font-size: 1.5rem;
}

#video-here {
  display: inline;
}

#search-field {
  position: relative;
  margin-top: 40px;
  background-color: black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content{
  position: relative;
  margin-top: 50px;
}

#giantbomb {
  text-align: center;
}

#giantbomb-title {
  width: 200px;
  margin: 0 auto;
}

#welcome-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .75;
  z-index: 5;
  background-color: black;
}

#mosaic {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.bgimage {
  float:left;
  margin: 0;
  padding: 0;
  height: 25vh;
  width: 25%;
  background-size: cover;
}

.bgimage.one {
  background-image: url('../media/mgif1.gif');
}

.bgimage.two {
  background-image: url('../media/mgif2.gif');
}

.bgimage.three {
  background-image: url('../media/mgif3.gif');
}

.bgimage.four {
  background-image: url('../media/mgif4.gif');
}

.bgimage.five {
  background-image: url('../media/mgif5.gif');
}

.bgimage.six {
  background-image: url('../media/mgif6.gif');
}

.bgimage.seven {
  background-image: url('../media/mgif7.gif');
}

.bgimage.eight {
  background-image: url('../media/mgif8.gif');
}

.bgimage.nine {
  background-image: url('../media/mgif9.gif');
}

.bgimage.ten {
  background-image: url('../media/mgif10.gif');
}

.bgimage.eleven {
  background-image: url('../media/mgif11.gif');
}

.bgimage.twelve {
  background-image: url('../media/mgif12.gif');
}

.bgimage.thirteen {
  background-image: url('../media/mgif13.gif');
}

.bgimage.fourteen {
  background-image: url('../media/mgif14.gif');
}

.bgimage.fifteen {
  background-image: url('../media/mgif15.gif');
}

.bgimage.sixteen {
  background-image: url('../media/mgif16.gif');
}
