@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
  margin: 0;
  padding: 0;
  height: 100vh;

}

#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  font-family: 'Helvetica';
  text-align: center;
  color: white;
  padding-top: 100px;
}

#content h1 {
  font-size: 5rem;
  font-family: 'Lato';
  font-weight: 900;
}

#content h2 {
  font-family: 'Indie Flower';
}

#screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .75;
  z-index: 10;
  background-color: black;
}

#mosaic {
  margin: 0;
  padding: 0;
  z-index: -1;
}

.bgimage {
  display: inline-block;
  margin: -1%;
  padding: 0;
  height: 25vh;
  width: 25%;
  /*border: 1px black solid;*/
  background-size: cover;
}

.one {
  background-image: url('../media/mgif1.gif');
}

.two {
  background-image: url('../media/mgif2.gif');
}

.three {
  background-image: url('../media/mgif3.gif');
}

.four {
  background-image: url('../media/mgif4.gif');
}

.five {
  background-image: url('../media/mgif5.gif');
}

.six {
  background-image: url('../media/mgif6.gif');
}

.seven {
  background-image: url('../media/mgif7.gif');
}

.eight {
  background-image: url('../media/mgif8.gif');
}

.nine {
  background-image: url('../media/mgif9.gif');
}

.ten {
  background-image: url('../media/mgif10.gif');
}

.eleven {
  background-image: url('../media/mgif11.gif');
}

.twelve {
  background-image: url('../media/mgif12.gif');
}

.thirteen {
  background-image: url('../media/mgif13.gif');
}

.fourteen {
  background-image: url('../media/mgif14.gif');
}

.fifteen {
  background-image: url('../media/mgif15.gif');
}

.sixteen {
  background-image: url('../media/mgif16.gif');
}
